@page "/"
@inject NavigationManager NavigationManager

<div class="container-fluid">
    <ul>
        <li><blazor.Components.Offcanvas001 /></li>
        <li><blazor.Components.Offcanvas002 /></li>
        <li><blazor.Components.Offcanvas003 /></li>
        <li><blazor.Components.Offcanvas004 /></li>
    </ul>
</div>
@code{


}
