@page "/offcanvas"
@inject NavigationManager NavigationManager
@using blazor.Components

<div class="container-fluid">
    <ul>
        <li><Offcanvas001 /></li>
        <li><Offcanvas002 /></li>
        <li><Offcanvas003 /></li>
        <li><Offcanvas004 /></li>
        <li><Offcanvas005 /></li>
    </ul>
</div>
@code{


}
