<div class="container-fluid">

    <!-- Example Code -->
    <!-- make full offcanvas full screen on all devices --> 
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFullscreen" aria-controls="offcanvasFullscreen">Toggle fullscreen offcanvas</button> 
    <div class="offcanvas offcanvas-fullscreen" tabindex="-1" id="offcanvasFullscreen" aria-labelledby="offcanvasFullscreenLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasFullscreenLabel">Offcanvas fullscreen</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="d-flex flex-column h-100 justify-content-center align-items-center">
          <div class="h1">Offcanvas</div>
          <div class="h4 mb-3">With backdrop and scroll behavior</div>
          <div class="h4 mb-3">copilot</div>
          <div class="mb-3">
            <button type="button" class="btn btn-primary" data-bs-dismiss="offcanvas" aria-label="Close">Close</button>
          </div>
        </div>
      </div>
    </div>


</div>

@code {

}
